:root {
    --color-neutral-0: #0a0505; /* Vinho escuro */
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh; /* Pode ser relativo à viewport */
}

footer {
    background-color: var(--color-neutral-0);
    padding: 2rem 3.5rem;
    text-align: left;
}



#footer_content {
    display: flex;
    justify-content: space-between; /* Espaça os conteúdos entre os lados */
    align-items: flex-start; /* Alinha itens ao topo */
    height: auto;
    margin-top: -120px; /* Este valor pode ser ajustado */
}

#footer_contacts {
    margin-bottom: 1rem; /* Margem ajustada para espaçamento */
}

#footer_contacts p {
    color: white; /* Cor do texto */
    font-size: 0.9rem; /* Tamanho do texto ajustado */
    line-height: 1.2; /* Melhor espaçamento entre linhas */
    margin-left: 0; /* Remove a margem esquerda */
    max-width: 300px; /* Limita a largura do texto */
    transform: translateY(150px);
}

#footer_social_media {
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: flex-end; /* Alinha à direita */
    transform: translateY(130px);
}

#footer_social_media ul {
    list-style: none; /* Remove o estilo padrão de lista */
    padding-left: 0; /* Remove o padding padrão */
    margin-left: 0; /* Remove a margem padrão */
}

#footer_social_media li {
    margin-bottom: 0.5rem; /* Espaço entre os itens da lista */
    display: flex; /* Usado para alinhar ícones e texto */
    align-items: center; /* Alinha verticalmente */
}

.footer_link i {
    font-size: 1.5rem; /* Tamanho dos ícones das redes sociais */
    color: white; /* Cor dos ícones */
    margin-right: 0.5rem; /* Espaçamento entre o ícone e a bolinha */
}

/* Novo estilo para o ponto da lista */
#footer_social_media li::before {
    content: "•"; /* Usar uma bolinha */
    color: white; /* Cor da bolinha */
    margin-right: 0.5rem; /* Espaçamento entre a bolinha e o ícone */
}

#footer_logos {
    display: flex;
    padding-left: 35%; /* Alinha as logos à direita */
    margin: 1rem 0;
    width: 100%; /* Garante que as logos ocupem toda a largura disponível */
    max-width: 1300px; /* Limita a largura máxima */

}

.footer-logo1 {
    width: 100px; /* Tamanho padrão para as imagens */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 5rem; /* Aumenta o espaço entre as logos */
    
}

.footer-logo2 {
    width: 160px; /* Tamanho padrão para as imagens */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 5rem; /* Aumenta o espaço entre as logos */
    transform: translate(-20px);
    
}

.footer-logo3 {
    width: 100px; /* Tamanho padrão para as imagens */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 5rem; /* Aumenta o espaço entre as logos */
    transform: translate(-60px);
    
}

.footer-rights {
    text-align: center; /* Centraliza o texto */
    font-size: 0.875rem; /* Tamanho menor para o texto de direitos reservados */
    color: white; /* Cor do texto */
    transform: translateY(32px);
margin-bottom: 0%;}

/* Responsivo */
@media screen and (max-width: 768px) {
    #footer_content {
        padding: 2rem; /* Menos padding em telas pequenas */
    }

    #footer_logos {
        flex-direction: column; /* Imagens em coluna */
        align-items: center; /* Centraliza as logos */
    }

    #footer_logos a {
        margin-bottom: 1rem; /* Espaço entre as logos */
    }

    #footer_social_media {
        align-items: flex-end; /* Alinha à direita para mobile */
        margin-top: 0.5rem; /* Ajusta o espaço entre texto e ícones */
    }
}
