/* CSS personalizado integrado */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    color: #333;
    background-image: url("../img/formBG.jpg");
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    padding: 20px; /* Ajuste o padding para melhor espaçamento */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #a31e22;
    font-size: 28px; /* Aumentado para melhor legibilidade */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0; /* Margem para a tabela */
}

th,
td {
    padding: 15px; /* Aumentado para mais conforto */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Linha de separação */
    line-height: 1.5; /* Aumentando a altura das linhas */
}

th {
    background-color: #f2f2f2; /* Cor de fundo para cabeçalho */
    font-weight: bold; /* Negrito para o cabeçalho */
}

td {
    word-wrap: break-word; /* Quebrar palavras longas, se necessário */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #a31e22;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8b1a1d; /* Cor de fundo ao passar o mouse */
}

.footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0; /* Fixar o rodapé */
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px; /* Aumentado o espaço entre links */
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 620px) {
    h1 {
        font-size: 24px; /* Diminuindo o tamanho do título em telas menores */
    }

    th,
    td {
        padding: 10px; /* Menos padding em telas menores */
        font-size: 14px; /* Ajustando o tamanho da fonte */
    }

    button {
        width: 100%; /* Os botões ocupam toda a largura disponível */
        margin: 10px 0; /* Espaçamento vertical entre os botões */
    }

    .container {
        padding: 15px; /* Ajustando padding do container para telas menores */
    }
}
