/* Estilo geral */
body { 
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #a31e22;
}

#mensagemNenhumaAula {
    text-align: center;
    color: #a31e22;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #a31e22;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #414141;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #a31e22;
    color: #fff;
}

/* Botões */
button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Modal estilos */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    width: 60%;
    max-width: 700px;
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para o container de edição */
.edit-container {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-container h2 {
    text-align: center;
    color: #a31e22; /* Mesma cor do h1 */
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    color: #333;
}

form input[type="date"],
form textarea,
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-container input[type="submit"] {
    background-color: #a31e22;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}

.submit-container input[type="submit"]:hover {
    background-color: #414141;
}

/* Responsividade */
@media (max-width: 800px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 15px;
    }

    input[type="submit"],
    .submit-container input[type="submit"] {
        width: 100%; 
    }
}
